@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.header{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    padding: 25px 0;
    font-family: 'Poppins', sans-serif;
}
.logo{
    padding-top: 5px;
}
.container{
    width: 1150px;
    margin: 0 auto;
}

.bg{
    position: absolute ;
    z-index:-5;
    width: 100%;
    top: -180px;
}
nav a{
    float: right;
    width: max-content;
    margin: 0 15px;
    padding-top: 5px;
}
a{
    color: white;
    text-decoration: none;
}
.btn{
    background: #fe8464;
    padding: 10px 25px;
    height: max-content;
    width: max-content;
    border-radius: 8px;
    margin-left: 25px;
}
.Welcome_Block{
    text-align: center;
    padding-top: 75px;
    color: white;
}
.Welcome_Block h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.desk{
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    font-size: 16px;
}
.btn_start{
    display: block;
    margin: 25px auto;
    background: #33c8c1;
    font-family: 'Poppins', sans-serif;
    padding: 10px 25px;
    transition: background .3s linear;
}
.btn_start:hover{
    background: #119bd2;
}
.Welcome_Block img{
    max-width: 650px;
    margin-top: 10px
}
.sponsorse> .container img{
    display: block;
    margin: 0 auto;
    opacity: 0.75;
}
.sponsorse > .container img:hover{
    opacity: 1;
}
.sponsorse> .container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.infor{
    margin-top: 120px;
}
.infor>.container .titl{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    width: 900px;
    margin: 0 auto 25px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}
.cardimg{
    margin: 0 auto 15px;
    width: max-content;
    display: block;
    position: relative;
    left: -4%;
}
.cardimg img{
    position: absolute;
    transition: transform .4s linear;
}
.cardimg img:last-child{
    position: relative;
    right: -25%;
    margin-top: 20px;
}
.card:hover>.cardimg img:first-child{
    transform: rotate(40deg);
}
.card{
    width: 100%;
    padding: 50px 30px;
    box-shadow: 0 0 4px rgba(128, 128, 128, 16);
    border-radius: 8px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #fff;
}
.card:hover{
    border: 1px solid indianred;
}
.card a{
    display: block;
    width: max-content;
    margin: 15px auto 0;
    color: #000;
}
.card h2:hover{
    color: darkmagenta;
}
.card h2{
    margin: 50px 0 28px;
}
.card span{
    font-size: 13px;
    color: #666;
}
.titl:before{
    content: "";
    width: 150px;
    height: 5px;
    background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
    display: block;
    position: relative;
    left: 50%;
    top:50% ;
    transform: translateX(-50%);
}
.block:not(:last-child){
    margin-bottom: 25px;
}

.block{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-areas: "title img"
                        "text img"
                         "btn img";
}
.block h1{
    grid-area: title;
    font-size: 30px;
    font-weight: normal;
    margin-top: 8px;
}
.block h1:before{
    content: "";
    width: 150px;
    height: 5px;
    background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
    display: block;
    position: relative;
    left: 13%;
    transform: translateX(-50%);
}
.text_block{
    grid-area: text;
    margin-top: -15px;
    width: 480px;
    color: #666;
}
.btn_block{
    grid-area: btn;
    margin: 0;
}
.img_block{
    grid-area: img;
    width: 550px;
    float: right;

}
.about_us {
    margin-top: 75px;
}
.reverse{
    grid-template-areas: "img title"
                        "img text"
                         "img btn";
}
.who_block{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-areas: "img title"
                            "img text"
                             "img items";
    margin-top: 15px;
    margin-bottom: 50px;
}
.img_video{
    grid-area: img;
    position: relative;
}
.img_video img:first-child{
    position: absolute;
    top: 39%;
    left: -5%;
}
.img_video img:nth-child(2){
    position: relative;
    width: 525px;
    height: 452px;
}
.img_video label{
    position: absolute;
    color: black;
    top: 45%;
    left: 39%;
    font-size: 25px;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    padding-left: 18px;
    line-height: 50px;
}
.who_block h1{
    grid-area: title;
    font-size: 30px;
    font-weight: normal;
    margin-top: 8px;
    width: max-content;
}
.who_block h1:before{
    content: "";
    width: 150px;
    height: 5px;
    background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
    display: block;
    position: relative;
    left: 20%;
    transform: translateX(-50%);
}
.black,
#mod{
    width: 900px;
    height: 600px;
    background: black;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    display: none;
}
#mod:checked~.black,
#mod:checked~.bgv{
    display: block;
}
.bgv{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 49;
    display: none;
}
.items{
    display: flex;
    justify-content: space-between;
}
.bob{
    width: 150px;
    height: 120px;
    background: linear-gradient(#33c8c1 0%, #119bd2 100%);
    display: flex;
    justify-content: center;
    padding-top: calc(120px / 2 - 69px / 2);
    border-radius: 60px;
    transform: rotate(-45deg);
}
.bob:nth-child(2){
    background: linear-gradient(#fe8464, #fe6e9a);
}
.bob:nth-child(3){
    background: linear-gradient(#361cc1, #2e82ef);
}
.item{
    color: white;
    transform: rotate(45deg);
    text-align: center;
    font-size: 19px;
}
.up{
    width: 40px;
    height: 40px;
    position: fixed;
    right: 2%;
    bottom: 2%;
    background: linear-gradient(90deg,#33c8c1 0%, #119bd2 100%);
    border-radius: 6px;
}
.up i{
    font-family: 'LineIcons', sans-serif;
    font-style: normal;
}
.up i:before{
    content: "\ea43";
    position: relative;
    top: 30%;
    left: 30%;
}

.team_blocks{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: max-content;
    margin: 0 auto;
    grid-column-gap: 25px;
}
.team_block{
    width: 350px;
    height: 408px;
    display: grid;
    grid-template-rows: 2fr 1fr ;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 4px #00000026;
}
.links{
    position: absolute;
    left: 50%;
    bottom: 15%;
    z-index: 5;
    transform: translate(-50%,-50%);
    width: max-content;
    height: max-content;
    padding: 15px 25px;
    background: #ffffff3a;
    border-radius: 25px;
}
.team_img{
    position: relative;
}
.links a:not(:last-child){
    margin-right: 8px;
}
.team_text{
    text-align: center;
    padding-top: 25px;
    font-family: 'Poppins', sans-serif;

}
.team_text span{
    font-size: 14px;
    color: #666;
}
.team_block:hover .links{
    background: linear-gradient(#fe8464, #fe6e9a);
    cursor: pointer;
    transition: all .2s linear;
}
.team_img img{
    width: 350px;
}
.titl{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
}
.comment{
    width: 350px;
    height: 376px;
    padding: 25px;
    box-shadow: 0 0 5px #00000059;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Lato', sans-serif;
    border: 1px solid #ffffff;
    transition: all .4s linear;
}
.comm_img{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.stars{
    color: #fe8464;
}
.lni-quotation{
    color: #2e82ef;
    font-size: 30px;
}
.comment .text_block{
    width: 100%;
    margin-top: 15px;
}
.avtor{
    position: relative;
}
.user_backgr{
    position: absolute;
    left: 20%;
    transform: translateX(-50%);
    z-index: -5;
}
.user_foto{
    position: absolute;
    left: 20%;
    transform: translate(-50%);
    width: 85px;
    padding-top: 13px;
}
.avtor h3,
.avtor .text_block{
    margin-left: 37%;

}
.avtor h3{
    padding-top: 25px;
}
.avtor .text_block{
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
}
.comments{
    display: flex;
    justify-content: space-between;
}
.comment_block{
    margin-top: 40px;
}
.comment:hover,
.active{
    border: 1px solid #fe8464;
}
.comment:hover .lni-quotation,
.active .lni-quotation{
    color: #fe8464;
}
.titl h3{
    text-align: left;
}
.post{
    width: 350px;
    height: 453px;
    font-family: 'Poppins', sans-serif;
}
.data{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 13px;
    padding-right: 30%;
    color: #666666;
}
.tx{
    font-size: 17px;
    padding-bottom: 25px;
}
.sl{
    color: #fe8464;
    font-size: 15px;
}
.posts{
    display: flex;
    justify-content: space-between;
}
.blog_post{
    margin-top: 35px;
}
.blog_post .titl:before {
    content: "";
    width: 150px;
    height: 5px;
    background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
    display: block;
    position: relative;
    transform: translateX(-50%);
    left: 7%;
}
.contack_block{
    width: 1150px;
    margin: 50px auto;
    border-radius: 12px;
    box-shadow: 0 0 5px #0000007F;
    display: flex;
    justify-content: space-between;
    height: 259px;
    padding: 40px 50px 90px;
    background: white;
}
.contack_block .titl{
    text-align: left;
    width: max-content;
    height: 129px;
    margin: calc(259px / 2 - 47px / 2 - 130px / 2) 0;
}
.contack_block .titl:before{
    display: none;
}
.contack_block form{
    display: flex;
    justify-content: space-around;
    width: 495px;
    height: 65px;
    margin: calc(259px / 2 - 65px / 4 - 130px / 2) 0;
}
.contack_block form input[type="text"]{
    width: calc(100% - 118px);
    padding-left: 25px;
    outline: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
}
.contack_block form input[type="submit"]{
    width: 118px;
    background:linear-gradient(90deg,#fe8464, #fe6e9a);
    color: white;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.contack_block form input[type="text"]:focus{
    border: 2px solid #361cc1;
    border-right: none
}
.footer_svg{
    position: absolute;
    z-index: -5;
    width: 100%;
    bottom: 0;
}
footer{
    position: relative;
}